* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* VARIABLES */
:root {
	--color-primary: #ff5757;
	--color-secondary: #ffecdd;
	--color-black: #5e5e5e;
}
body {
	background-color: var(--color-secondary);
}
.btn-close,
.btn,
.form-control {
	box-shadow: none !important;
}

/* MAIN NAVBAR START */
.main-nav {
	background-color: var(--color-primary);
	color: var(--color-black);
}
.main-nav i {
	font-size: 25px;
}
.main-nav .navbar-brand {
	color: var(--color-black);
	transition: 0.2s;
}
.main-nav .navbar-brand:hover {
	color: var(--color-secondary);
}
/* MAIN NAVBAR END */

/* HERO SECTION START */
#heroSlider {
	max-height: 400px;
}
#heroSlider .carousel-inner {
	max-height: 400px;
}
#heroSlider .carousel-inner img {
	max-height: 400px;
	margin: 0 auto;
}
/* HERO SECTION END */

/* PRODUCTS SECTION START  */
.products-section .carousel-indicators [data-bs-target] {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--color-secondary);
}
.product-card {
	overflow: hidden;
	position: relative;
}
.old-price {
	font-size: 20px;
	color: #a1a1a1;
	text-decoration: line-through;
	font-weight: 500;
}
.price {
	font-size: 20px;
	color: var(--color-black);
	font-weight: 500;
	display: flex;
	align-items: center;
}
.price p {
	margin: 0;
}
.main-price {
	font-size: 25px;
	color: var(--color-black);
	font-weight: bold;
	color: var(--color-primary);
}
.price-off {
	/* color: #388e3c; */
	color: #fff;
	font-size: 16px;
	background-color: #388e3c;
	padding: 0px 10px 1px 20px;

	position: absolute;
	top: 0px;
	right: 0;
	clip-path: polygon(100% 0, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}
.sale {
	color: #fff;
	font-size: 16px;
	background-color: var(--color-primary);
	padding: 0px 25px 1px 10px;
	padding: 0px 10px 1px 20px;

	position: absolute;
	top: 30px;
	right: 0;
	clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
}
/* PRODUCTS SECTION END */

/* PRODUCT DETAILS PAGE START */
.splide__track--nav > .splide__list > .splide__slide.is-active {
	border: 0.5px solid var(--color-black);
	opacity: 0.8;
}
.splide__track--nav > .splide__list > .splide__slide {
	border: none;
}
#thumbnail-slider .splide__slide {
	border-radius: 5px;
}
#thumbnail-slider .splide__slide img {
	border-radius: 5px;
}
#main-slider .splide__slide {
	border-radius: 10px;
}
#main-slider .splide__slide img {
	border-radius: 10px;
}
.product-details-price {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.product-details-price p {
	margin: 0;
}
.product-details-price p:nth-child(1) {
	font-size: 25px;
}
.product-details-price p:nth-child(2) {
	font-size: 35px;
}
.product-details-price p:nth-child(4) {
	font-size: 20px;
	font-weight: 500;
	color: #44a448;
}
.buy-btn {
	width: 45%;
}
@media screen and (max-width: 520px) {
	.buy-btn {
		width: 100%;
	}
}
/* PRODUCT DETAILS PAGE END */

/* UTILITIES */
.color-second {
	color: var(--color-secondary);
}
.color-back {
	color: var(--color-black);
}
.fw-500 {
	font-weight: 500;
}
.main-btn {
	background-color: var(--color-primary);
	color: var(--color-secondary);
}
.main-btn:hover,
.main-btn:active {
	background-color: #eb4141 !important;
	color: var(--color-secondary) !important;
}
.green-btn {
	background-color: #44a448;
	color: var(--color-secondary);
}
.green-btn:hover,
.green-btn:active {
	background-color: #3d9540 !important;
	color: var(--color-secondary) !important;
}
.fz-18 {
	font-size: 18px;
}
.text-success {
	color: #44a448 !important;
}
.product-loading {
	--bs-spinner-width: 5rem;
	--bs-spinner-height: 5rem;
}
